body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.box {
  width:400px;
  height:400px;
  border:2px solid black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
